<div class="foo-ter">
    <div class="content-footer">
        <span>ศูนย์ช่วยเหลือ</span>
        <span>Help Center</span>
        <span>ซื้อสินค้าอย่างไร</span>
        <span>เติมเงินอย่างไร</span>
        <span>สุ่มรางวัลอย่างไร</span>
        <span>รีวิวของเรา</span>
    </div>
    <div class="content-footer">
        <span>เกี่ยวกับ Junbiko</span>
        <span>เกี่ยวกับเรา</span>
        <span>ร่วมงานกับเรา</span>
        <span>โฆษณา</span>
    </div>
    <div class="content-footer">
        <span>วิธีการชำระเงิน</span>
        <div class="img-crop">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
            <img src="../../assets/img/logo.png">
        </div>
    </div>
    <div class="content-footer">
        <span>ติดต่อเรา</span>
        <span><img src="../../assets/img/logo.png">087 780 6495 </span>
        <span><img src="../../assets/img/logo.png">Junbiko Shop</span>
        <span><img src="../../assets/img/logo.png">@junbiko</span>
    </div>
</div>