<div class="change-password">
    <div class="head-password">
        <span>เปลี่ยนรหัสผ่าน</span>
    </div>
    <div class="profile">
        <div class="inner-profile">
            <div class="in-password">
                <div class="inner-password">
                    <span>Username</span>
                    <span>{{uname}}</span>
                </div>
                <div class="inner-password">
                    <span>Email</span>
                    <span>{{email}}</span>
                </div>
            </div>
            <div class="in-password">
                <div class="inner-password">
                    <span>Phone</span>
                    <span>{{phone}}</span>
                </div>
            </div>
            <form>
                <div class="change-pass-form">
                    <div class="form-password">
                        <label for="pass">Change Password</label>
                        <input type="password" [(ngModel)]="pass" placeholder="example123" pattern="/^[a-z\d]+$/i " name="pass">
                    </div>
                    <div class="form-password">
                        <label for="comfirm-pass ">Comfirm Password</label>
                        <input type="password" [(ngModel)]="comfirmPass" placeholder=" " name="comfirm-pass ">
                    </div>
                </div>
                <div class="form-password">
                    <div>
                        <span [style.visibility]="visib">{{status}}</span>
                        <button (click)="changPassword()"><span>เปลี่ยนรหัสผ่าน</span></button>
                        <span>ลบบัญชี</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>