    change-password {
        >.change-password {
            >.head-password {
                background: linear-gradient(0deg, rgba(244, 148, 157, 1) 0%, rgba(241, 90, 128, 1) 100%);
                padding: 50pt 0;
                text-align: center;
                span {
                    color: white;
                    font-size: 20pt;
                }
            }
            >.profile {
                margin: 0 auto;
                // background-color: gray;
                width: 600pt;
                display: flex;
                justify-content: center;
                >.inner-profile {
                    margin: 30pt auto;
                    width: 50%;
                    >.in-password {
                        display: flex;
                        justify-content: space-between;
                        >.inner-password {
                            display: flex;
                            flex-direction: column;
                            &:last-of-type {
                                margin-bottom: 5pt;
                            }
                            span {
                                margin-bottom: 2pt;
                                font-size: 15pt;
                                &:first-of-type {
                                    color: #AAA9A9;
                                }
                                &:last-of-type {
                                    color: black;
                                }
                            }
                        }
                    }
                    form {
                        >.change-pass-form {
                            display: flex;
                            justify-content: space-between;
                            >.form-password {
                                display: flex;
                                flex-direction: column;
                                label {
                                    font-size: 15pt;
                                    color: #AAA9A9;
                                    margin-bottom: 5pt;
                                }
                                input {
                                    width: 140pt;
                                    height: 20pt;
                                    border-radius: 5px;
                                    border: 1px solid #9b9b9b;
                                    &:hover {
                                        border: 1.5px solid #7a7a7a;
                                    }
                                }
                            }
                        }
                        >.form-password {
                            display: flex;
                            justify-content: center;
                            margin-top: 10pt;
                            >div {
                                display: flex;
                                flex-direction: column;
                                >span:not(:nth-child(1)) {
                                    font-weight: bold;
                                    margin-top: 10pt;
                                    text-align: center;
                                    color: rgb(253, 138, 138);
                                    text-decoration: underline;
                                    &:hover {
                                        color: red;
                                    }
                                }
                                >span:nth-child(1) {
                                    visibility: hidden;
                                    margin-bottom: 5pt;
                                    text-align: center;
                                    color: rgb(253, 138, 138);
                                }
                                button {
                                    height: 25pt;
                                    width: 150pt;
                                    margin: 0 15pt;
                                    // padding: 15pt 75pt;
                                    border-radius: 5px;
                                    border: 0pt;
                                    background-color: #FD718B;
                                    &:hover {
                                        background-color: #f8627e;
                                    }
                                    span {
                                        color: white;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }